<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ikea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IKEA">
        <activity android:name=".product2" />
        <activity android:name=".MainActivity2cart" />
        <activity android:name=".MainActivity2Wishlist" />
        <activity android:name=".MainActivity2SearchActivity" />
        <activity android:name=".SignUppage" />
        <activity android:name=".userloginpa" />
        <activity android:name=".product1" />
        <activity android:name=".Loginpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>